/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.qs-datepicker-container {
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: flex;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid grey;
  border-radius: .263921875em;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3); }

.qs-datepicker-container * {
  box-sizing: border-box; }

.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.qs-hidden {
  display: none; }

.qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: .5em;
  z-index: 1;
  opacity: 1;
  transition: opacity .3s;
  display: flex;
  flex-direction: column; }

.qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1; }

.qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: .875em;
  padding: .25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block; }

.qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.qs-overlay .qs-close {
  padding: .5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0; }

.qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: .263921875em;
  padding: .5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.4); }

.qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed; }

.qs-overlay .qs-overlay-month-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }

.qs-overlay .qs-overlay-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  cursor: pointer;
  opacity: .5;
  transition: opacity .15s; }

.qs-overlay .qs-overlay-month.active, .qs-overlay .qs-overlay-month:hover {
  opacity: 1; }

.qs-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  background: #d3d3d3;
  filter: blur(0);
  transition: filter .3s; }

.qs-controls.qs-blur {
  filter: blur(5px); }

.qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: .263921875em;
  transition: background .15s; }

.qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1); }

.qs-arrow:hover.qs-left:after {
  border-right-color: #000; }

.qs-arrow:hover.qs-right:after {
  border-left-color: #000; }

.qs-arrow:after {
  content: "";
  border: 0.39063em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  transition: border .2s; }

.qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  transform: translate(25%, -50%); }

.qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  transform: translate(-25%, -50%); }

.qs-month-year {
  font-weight: 700;
  transition: border .2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer; }

.qs-month-year:hover {
  border-bottom: 1px solid grey; }

.qs-month-year:active:focus, .qs-month-year:focus {
  outline: none; }

.qs-month {
  padding-right: .5ex; }

.qs-year {
  padding-left: .5ex; }

.qs-squares {
  display: flex;
  flex-wrap: wrap;
  padding: .3125em;
  filter: blur(0);
  transition: filter .3s; }

.qs-squares.qs-blur {
  filter: blur(5px); }

.qs-square {
  width: calc(100% / 7);
  height: 1.5625em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background .1s;
  border-radius: .263921875em; }

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange; }

.qs-current {
  font-weight: 700;
  text-decoration: underline; }

.qs-active, .qs-range-end, .qs-range-start {
  background: #add8e6; }

.qs-range-start:not(.qs-range-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.qs-range-middle {
  background: #d4ebf2; }

.qs-range-middle:not(.qs-range-0):not(.qs-range-6) {
  border-radius: 0; }

.qs-range-middle.qs-range-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.qs-range-end:not(.qs-range-0), .qs-range-middle.qs-range-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.qs-disabled, .qs-outside-current-month {
  opacity: .2; }

.qs-disabled {
  cursor: not-allowed; }

.qs-day, .qs-empty {
  cursor: default; }

.qs-day {
  font-weight: 700;
  color: grey; }

.qs-event {
  position: relative; }

.qs-event:after {
  content: "";
  position: absolute;
  width: .46875em;
  height: .46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  line-height: 1.17rem;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #e5e5e5; }

.title {
  font-size: 1.5rem;
  line-height: 1.82rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500; }

.container {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.container-wide {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.tile-btn,
.list-btn {
  color: #C8C7C7;
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px; }
  .tile-btn.active rect,
  .list-btn.active rect {
    fill: #3D8EDA; }
  .tile-btn:hover rect,
  .list-btn:hover rect {
    fill: #3D8EDA; }

.gallery__day, .gallery__ulpoad-text {
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 500; }

.gallery span {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500; }

.gallery__comments img {
  width: 1.15rem;
  height: 1.15rem; }

.gallery__likes img {
  width: 1.15rem;
  height: 1.15rem; }

.load-btn {
  text-transform: uppercase;
  padding: 8px 26px;
  color: #929292;
  border: 1px solid #929292;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 24px auto 0px;
  margin-top: 24px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .load-btn:hover {
    color: #3D8EDA;
    border-color: #3D8EDA; }

.side-bg {
  position: absolute;
  right: 0;
  bottom: 5%;
  z-index: -10; }

.left-bg {
  position: absolute;
  z-index: -10;
  width: 45vw;
  top: -4vw; }

.header {
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
  position: relative;
  font-weight: 400; }
  .header__logo {
    margin: 5px 85px 25px 55px; }
  .header .container {
    display: flex;
    justify-content: start;
    align-items: center; }
  .header__title {
    font-size: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500; }
    .header__title span {
      font-size: 0.81rem;
      margin-left: 1rem;
      padding: 6px 12px;
      color: #3D8EDA;
      border: 1px solid #3D8EDA; }
  .header__info {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 0; }
    .header__info span {
      font-weight: 700; }
    .header__info-item {
      margin-right: 1rem; }
  .header__date {
    display: flex;
    align-items: center; }
  .header__datepicker {
    width: 170px;
    height: 100%;
    color: #929292;
    border: none;
    border: 1px solid #dedede;
    outline: none;
    border-radius: 5px; }

.datepicker__wrapper {
  height: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin: 0 11px; }
  .datepicker__wrapper svg {
    height: 29px;
    width: auto;
    fill: #5f5f5f;
    background: #ebebeb;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -1.5px; }
    .datepicker__wrapper svg:hover path {
      fill: #3D8EDA; }
  .datepicker__wrapper .datepicker-open {
    border: 1px solid #dedede;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .datepicker__wrapper .datepicker-close {
    right: 29px;
    border: 1px solid #dedede; }

.gallery {
  position: relative;
  font-weight: 500;
  padding-bottom: 60px;
  overflow-x: hidden; }
  .gallery__control {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 23px; }

.gallery__wrapper.list-view .gallery__item {
  max-height: 86px;
  margin-bottom: 8px;
  display: flex;
  justify-content: start;
  align-items: start; }

.gallery__wrapper.list-view .gallery__photo {
  height: 100%;
  max-width: 86px; }
  .gallery__wrapper.list-view .gallery__photo img {
    width: 100%;
    height: 100%;
    cursor: pointer; }

.gallery__wrapper.list-view .gallery__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 79px 0 30px; }

.gallery__wrapper.list-view .gallery__date-first, .gallery__wrapper.list-view .gallery__date-second, .gallery__wrapper.list-view .gallery__upload {
  display: flex;
  flex-direction: column;
  justify-content: start; }

.gallery__wrapper.list-view .gallery__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px; }
  .gallery__wrapper.list-view .gallery__stats span {
    margin-left: 7.5px; }

.gallery__wrapper.list-view .gallery__likes {
  margin-right: 19.5px;
  display: flex;
  align-items: center; }

.gallery__wrapper.list-view .gallery__comments {
  display: flex;
  align-items: center; }

.gallery__wrapper.list-view .gallery__upload-date {
  margin-top: 8px;
  font-size: 0.875rem; }

.gallery__wrapper.list-view .gallery__upload-text {
  font-size: 1rem; }

.gallery__wrapper.tile-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .gallery__wrapper.tile-view .gallery__item {
    width: calc(100% / 4 - 8px);
    margin-bottom: 16px; }
  .gallery__wrapper.tile-view .gallery__photo {
    width: 100%;
    aspect-ratio: 1/1; }
    .gallery__wrapper.tile-view .gallery__photo img {
      width: 100%;
      height: 100%;
      cursor: pointer; }
  .gallery__wrapper.tile-view .gallery__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 12px 16px 12px; }
  .gallery__wrapper.tile-view .gallery__date-first, .gallery__wrapper.tile-view .gallery__date-second, .gallery__wrapper.tile-view .gallery__upload {
    display: flex;
    flex-direction: column;
    justify-content: start; }
  .gallery__wrapper.tile-view .gallery__stats {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px; }
    .gallery__wrapper.tile-view .gallery__stats span {
      margin-left: 7.5px; }
  .gallery__wrapper.tile-view .gallery__likes, .gallery__wrapper.tile-view .gallery__comments {
    display: flex;
    margin-top: 8px;
    font-size: 0.875rem; }
  .gallery__wrapper.tile-view .gallery__upload {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; }
    .gallery__wrapper.tile-view .gallery__upload-text {
      font-size: 0.875rem; }
    .gallery__wrapper.tile-view .gallery__upload-date {
      font-size: 0.75rem; }

@media (max-width: 1640px) {
  .left-bg {
    width: 43.5vw;
    top: 0; } }

@media (max-width: 1366px) {
  .left-bg {
    width: 616px;
    left: calc(-5% - (400px - 29vw)); } }

@media (max-width: 1150px) {
  .left-bg {
    left: calc(-10% - (400px - 29vw)); }
  .side-bg {
    right: calc(-5% - (300px - 27vw)); } }

@media (max-width: 950px) {
  .left-bg {
    left: calc(-18% - (400px - 29vw)); }
  .header__logo {
    margin-right: 45px; }
  .side-bg {
    right: calc(-7% - (300px - 27vw)); } }

@media (max-width: 890px) {
  .gallery__control {
    margin-right: 5%; }
  .gallery__wrapper.list-view .gallery__info {
    margin-right: 30px;
    margin-left: 16px; }
  .gallery {
    padding-bottom: 40px; }
  .side-bg {
    display: none; } }

@media (max-width: 700px) {
  .header__logo {
    margin-left: 25px; }
  .header__logo {
    margin-right: 25px; }
  .left-bg {
    left: calc(-22% - (400px - 29vw)); }
  .gallery__wrapper.tile-view .gallery__item {
    width: calc(100% / 2 - 8px);
    margin-bottom: 16px; } }

@media (max-width: 620px) {
  .header__logo {
    margin-left: 0; }
  .header__logo {
    margin-right: 25px; }
  .left-bg {
    left: calc(-26% - (400px - 29vw)); } }

@media (max-width: 600px) {
  .header__title {
    flex-direction: column;
    align-items: start; }
    .header__title span {
      margin-left: 0;
      margin-top: 10px; }
  .header__date {
    flex-wrap: wrap; }
    .header__date .datepicker__wrapper:last-child {
      margin-left: 44px;
      margin-top: 5px; }
  .header__info {
    margin: 10px 0; }
    .header__info-item {
      margin-right: 10px; }
  .header__wrapper {
    margin: 15px 0; } }

@media (max-width: 520px) {
  .gallery__wrapper.list-view .gallery__likes {
    margin-right: 10px; }
  .gallery__wrapper.list-view .gallery__stats span {
    margin-left: 3px; }
  .gallery__wrapper.list-view .gallery__info {
    margin-right: 0;
    margin-left: 10px; } }

@media (max-width: 420px) {
  .header .container {
    padding: 0; }
  .header__logo {
    margin-right: 10px; }
  .left-bg {
    left: calc(-29% - (400px - 29vw)); }
  html {
    font-size: 14px; }
  .header__date .datepicker__wrapper:last-child {
    margin-left: 40px; } }

@media (max-width: 380px) {
  .gallery__wrapper.list-view .gallery__info {
    margin-top: 0px;
    flex-wrap: wrap;
    padding: 5px 0; }
  .gallery__wrapper.list-view .gallery__upload {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 7px; }
    .gallery__wrapper.list-view .gallery__upload-date {
      margin-top: 0;
      margin-right: 20px; }
  .gallery__wrapper.list-view .gallery__item {
    margin-bottom: 10px; } }

@media (max-width: 375px) {
  .header__logo {
    width: 200px; }
    .header__logo img {
      width: 100%; }
  .left-bg {
    left: calc(-36% - (400px - 29vw)); }
  .gallery__wrapper.tile-view .gallery__item {
    width: 100%; }
  .gallery__wrapper.tile-view .gallery__upload-date {
    margin-right: 10px; } }
